.container.sm{
   
    display: flex;
    width: 56rem;
    height: 5.563rem;
    
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.container.logo{
    display: flex;
    gap: 1rem;
    
}