.header {
        width: 100%;
        max-width: 64rem;

        padding: 1rem;

        margin: 0 auto;
        
        display: flex;
       
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}


@media (min-width:300px) and (max-width:900px){
        .header{
                width: 100%;
              
                padding: 1rem;
                margin: 0 auto;
               
                display: flex;
                flex-direction: column;
                
                justify-content: space-between;
                align-items: center;
        }
}