.header {
        max-width: 56.25rem;
        height: 2.438rem;

        padding: 2rem;
        
        margin: 0 auto;
        
        display: flex;
       
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}



